@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.ttf");
}

:root {
    --whitest: #74EFFA;
    --lightest: #18E8FB;
    --lighter: #02E9FF;
    --main: #00C6D7;
    --darker: #008996;
    --darkest: #006C76;

    --alter: #404C4E; /*  var(--alter) */
}

html {
    scroll-behavior: smooth;
    margin:    0 auto;
    max-width: 1600px;
    overflow: auto;
}

html * {
    font-family: 'Poppins', sans-serif;
    font-family: Poppins;
}

body {
    
}

.ismerteto-szoveg {
    background: rgb(185, 176, 199);
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
}

h3 {
    background: whitesmoke;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 12px;
    text-align: end;
    margin: 30px auto;
}

h3:hover {
    background: aqua;
    cursor: pointer;
    border-color: black;
}

.kartya {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    height: 250px;
}


input {
    display: block;   
    margin: 8px auto;
    text-align: end;
}

.szambuborek {
    font-size: 12px;
    display: inline-block;
    background: var(--lighter);
    padding: 4px 8px;
    width: 40px;
    border: 1px solid var(--darker);
    border-radius: 8px;
    margin: 4px auto;
}

.teendo-kartya {
    border: 1px solid var(--darker);
    border-radius: 12px;
    padding: 20px;
    margin-top: 40px;
}

.teendo-kartya {
    position: relative;
}

.teendo-id {
    position: absolute;
    top: 16px;
    right: 16px;
    font-weight: bold;
}

.teendo-nev {
    padding-top: 24px;
    padding-bottom: 20px;
    font-style: italic;
}

.teendo-keszultsege {
    
}

.teendo-kesz {
    color: grey;
}

.teendo-nyitott {
    color: red;
}